<h2>Привіт!</h2>
<p>Я Віталій, 25 років, українець. Люблю solo та multiplayer ігри, хоча в останніх віддаю перевагу PVE контенту. З
    радістю з вами потеревеню і порозважаюсь.</p>
<p>Почав стрімити наприкінці листопада 2022 року.</p>
<p>Бакалавр комп'ютерних наук в КПІ, золотий медаліст, син директора школи, лінива дупа, широчайший - неповний перелік
    моїх титулів.</p>
<p>Граю на гітарі, люблю подорожі та виїзди на природу, обожнюю комп'ютерні ігри, невимовно люблю музику і несамовито
    закоханий в Україну</p>