<div class="header">
  <div class="header-content">
    <div class="links">
      <a href="">laskadrin</a>
      <a href="https://www.twitch.tv/laskadrin" target="_blank">Twitch</a>
      <a href="https://discord.gg/dESzT4E7XJ" target="_blank">Discord</a>
      <a href="https://t.me/laskadrin" target="_blank">Telegram</a>
    </div>
  </div>
</div>
<div class="main">
  <div class="content">
    <mat-accordion class="accordion" multi>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Про мене
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-about-me></app-about-me>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Пожертва
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>attach_money</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-donate></app-donate>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Характеристики ПК
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>computer</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-hardware></app-hardware>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Пройдені ігри
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>check_circle_outline</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-completed-games></app-completed-games>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>