<div class="main-container">
    <h2>Ви можете подякувати за контент за допомогою сервісів:</h2>
    <div class="buttons">
        <a href="https://laskadrin.diaka.ua/donate" target="_blank"><button
                class="button button--start">Diaka</button></a>
        <a href="https://www.paypal.com/donate/?hosted_button_id=LW3QRRXS4WK8Y" target="_blank"><button
                class="button">PayPal</button></a>
    </div>
    <h2>Або напряму на карту:</h2>
    <div class="direct">
        <div class="mono">
            <span>Mono:</span>
            <span>4441 1144 4125 6821</span>
        </div>
        <div class="privat">
            <span>Приват:</span>
            <span>5168 7520 1720 1925</span>
        </div>
    </div>

</div>